<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Queen's Gambit Happy Hour Menu</title>
</head>

<body>
    <h1>The Queen's Gambit Happy Hour Menu</h1>
    <h2>Munchies</h2>
    <table>
        <tr>
            <td>Nachos</td>
            <td>$5</td>
        </tr>
        <tr>
            <td>Chicken Wings</td>
            <td>$6</td>
        </tr>
        <tr>
            <td>Truffle Fries</td>
            <td>$5</td>
        </tr>
    </table>
    <h2>Beer</h2>
        <table>
            <tr>
                <td>Stella Artois</td>
                <td>$5</td>
            </tr>
            <tr>
                <td>Peroni</td>
                <td>$4</td>
            </tr>
            <tr>
                <td>Heineken</td>
                <td>$5</td>
            </tr>
        </table>
</body>

</html>