<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Queen's Gambit Lunch Menu</title>
</head>
<body>
    <h1>The Queen's Gambit Lunch Menu</h1>
    <h2>Appetizers</h2>
    <table>
        <tr>
            <td>Shakshuka</td>
            <td>$10</td>
        </tr>
        <tr>
            <td>Tuna Sandwich</td>
            <td>$7</td>
        </tr>
        <tr>
            <td>Potato Salad</td>
            <td>$5</td>
        </tr>
    </table>
    <h2>Main Courses</h2>
    <table>
        <tr>
            <td>Salmon</td>
            <td>$20</td>
        </tr>
        <tr>
            <td>Steak</td>
            <td>$40</td>
        </tr>
        <tr>
            <td>Lobster</td>
            <td>$50</td>
        </tr>
    </table>
</body>
</html>